<style>
    .memo-container {
        width: 100%;
        margin: 0 auto;
    }

    .memo-header {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .memo-form label {
        font-weight: bold;
    }

    .memo-form input, .memo-form textarea {
        width: 100%;
        border: none;
        border-bottom: 1px dotted #000;
        margin-bottom: 20px;
        font-size: 16px;
        padding: 5px 0;
    }

        .memo-form input[type="text"]::placeholder {
            color: #000;
        }

    .memo-form .currency-box {
        display: flex;
        align-items: center;
    }

        .memo-form .currency-box span {
            font-weight: bold;
            margin-right: 10px;
        }

    .currency-box input {
        width: auto;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        width: 80px;
        text-align: right;
    }

</style>
@*<div class="container-fluid">
    <button class="customBtn" onclick="OpenOldAgePaymentPopup()">OldAgePayment</button>
</div>
*@
<div class="col-md-12">
    @Html.Partial("~/Partialviews/_SearchBar.cshtml")
</div>

<div class="container-fluid mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="oldAgePaymentTab" data-toggle="tab" href="#oldAgePaymentTabContent" role="tab" aria-controls="home" aria-selected="true">OldAgePayments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="NursingPaymentTab" data-toggle="tab" href="#NursingPaymentTabContent" role="tab" aria-controls="profile" aria-selected="false">HomeNursingPayment</a>
        </li>

    </ul>
    <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="oldAgePaymentTabContent" role="tabpanel" aria-labelledby="home-tab">
            <div class="container-fluid mb-2">
                <button type="button" class="customBtn" id="oldAgebtn">
                    <i class="fa fa-add me-1" ></i> Add
                </button>
            </div>
            <div class="col-md-12">
                <table id="tblOldAgePayment" class="display table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="NursingPaymentTabContent" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container-fluid mb-2">
                <button type="button" class="customBtn" id="NursingHomebtn">
                    <i class="fa fa-add me-1" ></i> Add
                </button>
            </div>
            <div class="col-md-12">
                <table id="tblNursingPayment" class="display table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h5>Contact</h5>
            <p>This is the contact tab content.</p>
        </div>
    </div>
</div>

<div class="modal fade" id="oldAgeCashPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cash Memo</h5>
                <button type="button" class="close" onclick="HidePopup('oldAgeCashPopup')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body oldAgeCashFormContent">
                <div style="border:1px solid black">
                    <input type="hidden" id="oldAgeCashId" />
                    <div class="HeaderContainer" style="border-bottom:1px solid black">
                        <div class="row mt-2">
                            <div class="col-3">
                                <img src="~/images/plus icon.png" style="height:70px;width:90px" />
                            </div>
                            <div class="col-6 contentCenter">
                                <label style="font-family:fantasy;font-size:50px;letter-spacing:5px">SIDDHARTH</label>

                            </div>
                            <div class="col-3 contentEnd">
                                <img src="~/images/stethoscope.png" style="height:70px;width:90px" />
                            </div>
                            <div class="col-2"></div>
                            <div class="col-8 contentCenter" style="margin-top:-20px">
                                <label style="font-size:26px;font-weight:500">Home Nursing Helpline</label>
                            </div>
                        </div>
                        <div id="customAddress">
                            <div class="contentCenter">
                                <span id="customAdreesLine1" style="font-weight:500;font-size:smaller;">No.69,New No. 6/1, 1st Cross, 3rd Main Road, Mathikere, Bengaluru-560 054.</span>
                            </div>
                            <div class="contentCenter">
                                <span id="customAdreesLine2" style="font-weight:500;font-size:smaller;">Mob : <span id="cutomMobileNumbers"></span> Email : <span id="customEmailAddress"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="memo-container p-2 ">
                        <div class="row ">
                            <div class="col-4"></div>
                            <div class="memo-header col-auto">Cash Voucher</div>
                           <div class="col">
                            <div class="contentEnd">
                                <label>Date :</label>
                                <input type="date" id="OAdate" />
                            </div>
                            </div>
                        </div>
                        <div class="memo-form ml-2">
                            <div class="row">
                                <div class="col-auto">
                                    <label for="name">Mrs/Ms:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="OAInputField" id="OApatientName">
                                    <input type="hidden" class="OAInputField" id="oldAgePaymentId">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <label for="sum">The sum of (in words) Rs</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="OAInputField" id="OAamtInWords">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <label for="payment-of">In Payment of</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="OAInputField" id="OApayment-of">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <label for="payment-mode">By Cash/Online Transfer</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="OAInputField" id="OApayment-mode">
                                </div>
                            </div>
                            <div class="currency-box">
                                <span>Rs</span>
                                <input type="text" class="OAInputField" id="OAttlAmount" placeholder="0.00">
                            </div>
                        </div>

                        <div class="signature-section row ml-2">
                            <div class="signature-box col-4 ">
                                <canvas id="OAauthorizedSignature" class="signatureContainer"></canvas>
                                <img id="OAauthorizedSignatureImage" class="signatureContainerImage" />
                                <div class="row">
                                    <div class="col-10">
                                        <p>Authorized by &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('OAauthorizedSignature')"></i></p>
                                    </div>
                                    <div class="col-2">
                                    </div>
                                </div>

                            </div>
                            <div class="col-4"></div>
                            <div class="signature-box col-4">
                                <canvas id="OArecieverSignature" class="signatureContainer"></canvas>
                                <img id="OArecieverSignatureImage" class="signatureContainerImage" hidden />
                                <div class="row">
                                    <p>Receiver's Signature  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('OArecieverSignature')"></i></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="HidePopup('oldAgeCashPopup')">Close</button>
                <button type="button" class="btn btn-success" onclick="SaveOldAgeCashMemo()">Save</button>
                <button id="downloadRegistrationForm" class="btn btn-info">Download PDF</button>
            </div>
        </div>
    </div>
</div>
<script>
    var CashMode = '';
  
    $(document).ready(function () {
        $('#userColumn').hide();//Hide the User Dropdown from Searchbar
        GetPaymentData();
        document.getElementById('downloadRegistrationForm').addEventListener('click', function () {
            const element = document.querySelector('.oldAgeCashFormContent');
            element.style.transform = 'scale(1)';
            element.style.transformOrigin = 'top center';
            // Options for html2pdf
            const options = {
                margin: 0,
                filename: 'form.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 3 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // Generate PDF
            html2pdf().from(element).set(options).save();
        });

        $('#tblOldAgePayment').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            CashMode = "OldAge";
            BindOldAgePayment(fullData);
        });
        $('#tblOldAgePayment').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            DeleteWarning(deleteOlgAgeCashData, ID);
        });
        $('#tblNursingPayment').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            CashMode = "NursingHome";
            BindOldAgePayment(fullData);
        });
        $('#tblNursingPayment').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            DeleteWarning(deleteNursingCashData, ID);
        });
        $('#oldAgebtn').on('click', function () {
            CashMode = "OldAge";
            ClearOldAgePaymentFields();
        });
        $('#NursingHomebtn').on('click', function () {
            CashMode = "NursingHome";
            ClearOldAgePaymentFields();
        })
    });


    function SaveOldAgeCashMemo() {
        var data = {}
        data.id = $('#oldAgePaymentId').val();
        data.patientName = $('#OApatientName').val();
        data.amount = $('#OAttlAmount').val();
        data.amountInWords = $('#OAamtInWords').val();
        data.Inpaymentof = $('#OApayment-of').val();
        data.paymentMode = $('#OApayment-mode').val();
        data.date = $('#OAdate').val();
        data.authorizedSign = $('#OAauthorizedSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");
        data.recieversSign = $('#OArecieverSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");

        if (CashMode == "OldAge") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveOldAgeCashMemo", "CashMemo")',
                data: data,
                success: function (response) {
                    if (response) {
                        let msg = $('#oldAgePaymentId').val() == '' ? "Data Added Successfully" : "Data Updated Successfully";
                        msgPopup("success", msg);
                        HidePopup('oldAgeCashPopup');
                        GetPaymentData();
                    } else {
                        msgPopup("error", "Something Went Wrong")
                    }
                },
                error: function (response) {

                }
            });
        }
        else if (CashMode == "NursingHome") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveNursingCashMemo", "CashMemo")',
                data: data,
                success: function (response) {
                    if (response) {
                        let msg = $('#oldAgePaymentId').val() == '' ? "Data Added Successfully" : "Data Updated Successfully";
                        msgPopup("success", msg);
                        HidePopup('oldAgeCashPopup');
                        GetPaymentData();
                    } else {
                        msgPopup("error", "Something Went Wrong")
                    }
                },
                error: function (response) {

                }
            });
        }

    }

    function GetPaymentData() {
        var OAtable = $('#tblOldAgePayment').DataTable();
        var NHtable = $('#tblNursingPayment').DataTable();
        $.get({
            url: '@Url.Action("GetCashMemoData", "CashMemo")',
            data: { startDate: $('#startDate').val(), endDate: $('#endDate').val() },
            success: function (response) {
                OAtable.clear().draw();
                response.oldAge.forEach(function (item) {
                    OAtable.row.add([
                        item.patientName,
                        item.date.split("T")[0],
                        item.amount,
                        '<div class="contentCenter"><i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i></div>'
                    ]).draw();
                });
                NHtable.clear().draw();
                response.nursing.forEach(function (item) {
                    NHtable.row.add([
                        item.patientName,
                        item.date.split("T")[0],
                        item.amount,
                        '<div class="contentCenter"><i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i></div>'
                    ]).draw();
                });
            },
            error: function (response) {

                console.error(response);
            }
        });
    }
    function ClearOldAgePaymentFields() {
        $('.OAInputField').val('');
        clearSignature('OAauthorizedSignature');
        clearSignature('OArecieverSignature');
        $('#OArecieverSignatureImage').prop('hidden', true);
        $('#OArecieverSignature').prop('hidden', false);
        $('#OAauthorizedSignatureImage').prop('hidden', true);
        $('#OAauthorizedSignature').prop('hidden', false);
        $('#OAdate').val(formatDate(new Date()));
        showPopup('oldAgeCashPopup');
    }
    function BindOldAgePayment(data) {
        $('#oldAgePaymentId').val(data.id);
        $('#OApatientName').val(data.patientName);
        $('#OAttlAmount').val(data.amount);
        $('#OAamtInWords').val(data.amountInWords);
        $('#OApayment-of').val(data.Inpaymentof);
        $('#OApayment-mode').val(data.paymentMode);
        $('#OAdate').val(formatDate(new Date(data.date)));
        $('#OArecieverSignatureImage').prop('hidden', false);
        $('#OArecieverSignature').prop('hidden', true);
        $('#OArecieverSignatureImage').attr('src', 'data:image/png;base64,' + data.recieversSign);
        $('#OAauthorizedSignatureImage').prop('hidden', false);
        $('#OAauthorizedSignature').prop('hidden', true);
        $('#OAauthorizedSignatureImage').attr('src', 'data:image/png;base64,' + data.authorizedSign);
        showPopup('oldAgeCashPopup');
    }

    function deleteOlgAgeCashData(id){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteOldAgePayment", "CashMemo")',
            data: {id:id},
            success: function (response) {
                if (response) {
                    msgPopup("success", "Data Deleted Successfully");
                    GetPaymentData();
                } else {
                    msgPopup("error", "Something Went Wrong")
                }
            },
            error: function (response) {

            }
        });
    }
    function deleteNursingCashData(id){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteNursingPayment", "CashMemo")',
            data: {id:id},
            success: function (response) {
                if (response) {
                    msgPopup("success", "Data Deleted Successfully");
                    GetPaymentData();
                } else {
                    msgPopup("error", "Something Went Wrong")
                }
            },
            error: function (response) {

            }
        });
    }

</script>