@{

    ViewData["Title"] = "OldAge";
}
<div class="col-md-12">
    @Html.Partial("~/Partialviews/_SearchBar.cshtml")
</div>

<script src="https://cdn.datatables.net/responsive/3.0.3/js/responsive.dataTables.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.5.0/js/dataTables.rowReorder.js"></script>

<!-- Modal -->
<div class="modal fade" id="oldAgePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient Information Form</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="HidePopup('oldAgePopup')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body registrationFormContent">
                <form>
                    <input type="hidden" id="oldAgePatientId" />
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-2">
                                        <div class="col-3">
                                            <img src="~/images/plus icon.png" style="height:70px;width:90px" />
                                        </div>
                                        <div class="col-6 contentCenter">
                                            <label style="font-family:fantasy;font-size:50px;color:red;letter-spacing:5px">VEDHANTH</label>

                                        </div>
                                        <div class="col-3 contentEnd">
                                            <img src="~/images/stethoscope.png" style="height:70px;width:90px" />
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-8 contentCenter" style="margin-top:-20px">
                                            <label style="font-size:26px;color:red;margin-top:-5px;font-weight:500">Home Nursing Helpline</label>
                                        </div>
                                    </div>
                                    <div id="customAddress">
                                        <div class="contentCenter">
                                            <span id="customAdreesLine1" style="font-weight:500;font-size:smaller;">No.69,New No. 6/1, 1st Cross, 3rd Main Road, Mathikere, Bengaluru-560 054.</span>
                                        </div>
                                        <div class="contentCenter">
                                            <span id="customAdreesLine2" style="font-weight:500;font-size:smaller;">Mob : <span id="cutomMobileNumbers"></span> Email : <span id="customEmailAddress"></span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <div class="row mt-2">
                                        <label for="" class="col-7 contentEnd" style="color:red;font-size:medium;font-weight:500">OLD AGE ADMISSION FORM:</label>
                                        <div class="row col-5 ">

                                            <span class="col-5">No :</span>
                                            <input class="col-7 mt-1" id="serialNo" type="number" style="height:25px" min="0" />
                                        </div>
                                        <div class="col-7"></div>
                                        <div class="row col-5 mt-2 contentEnd">
                                            <span class="col-5">Date :</span>
                                            <input class="col-7 requiredfield" id="adminssionDate" type="date" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="patientName">Patient Name:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields requiredfield" id="patientName"></td>
                            </tr>
                            <tr>
                                <td><label for="address">Address:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="address"></td>
                            </tr>
                            <tr>         
                                <td><label for="patientAge">Patient Age:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="patientAge"></td>
                            </tr>
                            <tr>
                                <td><label for="patientCondition">Patient Condition:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="patientCondition"></td>
                            </tr>
                            <tr>
                                <td><label for="customerName">Customer Name:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="customerName"></td>
                            </tr>
                            <tr>
                                <td><label for="mobileNo">Mobile No:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="mobileNo"></td>
                            </tr>
                            <tr>
                                <td><label for="typesOfService">Types of Service:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="typesOfService"></td>
                            </tr>
                            <tr>
                                <td><label for="idProof">ID Proof:</label></td>
                                <td>
                                    <div class="row col-12">
                                        <div class="col-10">
                                            <input type="file" class="form-control" id="idProof" onchange="">
                                        </div>
                                        <div class="col-2 contentEnd">
                                            <i id="downloadIdProof" class="fa-solid fa-download fa-lg  mt-3 "></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="registrationCharges">Registration Charges:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="registrationCharges"></td>
                            </tr>
                            <tr>
                                <td><label for="monthlyPayment">Monthly Payment Rs:</label></td>
                                <td><input type="text" class="form-control  OldAgeIpfields" id="monthlyPayment"></td>
                            </tr>
                            <tr>
                                <td><label for="periodFrom">Period From:</label></td>
                                <td><input type="date" class="form-control  OldAgeIpfields" id="periodFrom"></td>
                            </tr>
                            <tr>
                                <td><label for="periodTo">To:</label></td>
                                <td><input type="date" class="form-control  OldAgeIpfields" id="periodTo"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div>
                                        <b>Terms and Conditions for Client:</b>
                                        <div style="display: flex; flex-direction: column;">
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                <div style="flex: 1; text-align: left;">We give with patients attender and nursing staff with emergency doctor visit.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                <div style="flex: 1; text-align: left;">Three times food and tea, coffee (daily changes of food).</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                <div style="flex: 1; text-align: left;">We don't allow outside food and we don't provide any event foods for patients.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                <div style="flex: 1; text-align: left;">We don't gives any personal medication to patients (BP, SUGAR TABLETS DIAPER HAND GLOVES UNDER PAD/PATIENTS AU THINGS).</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">5.</div>
                                                <div style="flex: 1; text-align: left;">If the patient's discharge days are fewer than the advance payment balance, the remaining amount should be returned to the client.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">6.</div>
                                                <div style="flex: 1; text-align: left;">In case patient death non refund advance amount.</div>
                                            </div>
                                        </div>

                                        <b> Declaration</b></br>
                                        <div style="display: flex; margin-top: 5px;margin-bottom:20px">
                                            <div style="width: 20px; font-weight: bold; text-align: center;"> </div>
                                            <div style="flex: 1; text-align: left;">
                                                I hereby read, I heard all the above terms and conditions and agree to sign up with VEDHANTH Home Care for my service requirement.
                                            </div>
                                        </div>
                                        @*<div class="row">

                                        <span class="col-4">Signature of the Client</span>
                                        <span class="col-4"></span>
                                        <span class="col-4 contentEnd">Authorised Signatory</span>
                                        </div>*@
                                        <div class="signature-section row ml-2">
                                            <div class="signature-box col-4 ">
                                                <canvas id="clientSignature" class="signatureContainer"></canvas>
                                                <img id="clientSignatureImage" class="signatureContainerImage" hidden />
                                                <div class="row">
                                                    <div class="col-10">
                                                        <p>Signature of the Client &nbsp;&nbsp;&nbsp;   <i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('clientSignature')"></i></p>
                                                    </div>
                                                    <div class="col-2">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-4"></div>
                                            <div class="signature-box col-4">
                                                <canvas id="authorizedSignature" class="signatureContainer"></canvas>
                                                <img id="authorizedSignatureImage" class="signatureContainerImage" hidden />
                                                <div class="row">
                                                    <p>Authorised Signatory  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('authorizedSignature')"></i></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="HidePopup('oldAgePopup')" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="OpenQRPopup()">Pay</button>
                <button type="button" class="btn btn-success" onclick="AddOldAge()">Save</button>
                <button id="downloadRegistrationForm" class="btn btn-info">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-2 mt-2">
    <button type="button" class="customBtn" onclick="verifyFace()">
        <i class="fa fa-add me-1"></i> Add
    </button>
</div>
<div class="col-md-12 container-fluid">
    <table id="tblOldAge" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Admission Date</th>
                <th>Period From</th>
                <th>Period To</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @Html.Partial("~/Partialviews/_VerifyFace.cshtml")
</div>
<script>

    var OldAgeIdProof;
    $(document).ready(function () {

        $('#tblOldAge').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            BindData(fullData);
        });
        $('#tblOldAge').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            confirmDelete(ID);
        });
        $('#tblOldAgePayment').on('click', '.btn-edit', function () {
            var fullData = JSON.parse($(this).attr('data-full-data'));
            BindPaymentData(fullData);
        });
        $('#tblOldAgePayment').on('click', '.btn-delete', function () {
            var ID = JSON.parse($(this).attr('dataId'));
            confirmDelete(ID);
        });
        $('#search').on('click', function () {
            GetData();
        });

    })

    document.getElementById('downloadRegistrationForm').addEventListener('click', function () {
        const element = document.querySelector('.registrationFormContent');
        element.style.transform = 'scale(0.8)';
        element.style.transformOrigin = 'top center';
        // Options for html2pdf
        const options = {
            margin: 0,
            filename: $('#patientName').val() + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 3 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Generate PDF
        html2pdf().from(element).set(options).save().finally(() => {

            element.style.transform = '';
            element.style.transformOrigin = '';
        });
    });

    $('#idProof').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            OldAgeIdProof = base64;
        });
    });

    document.getElementById('downloadIdProof').addEventListener('click', function () {
        if (OldAgeIdProof) {
            const mimeType = OldAgeIdProof.split("~")[0];
            const fileName = $('#patientName').val() + "_IdProof.";

            downloadFile(OldAgeIdProof.split("~")[1], mimeType, fileName);
        } else {
            alertMessage('No file available to download');
        }
    });
    function downloadFile(base64String, fileType, fileName) {
        const link = document.createElement('a');
        link.href = `data:${fileType};base64,${base64String}`;
        link.download = fileName + fileType.split("/")[1];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    function Clearfields() {
        $('.OldAgeIpfields').val('');
        clearSignature('authorizedSignature');
        clearSignature('clientSignature');
        $('#authorizedSignatureImage').prop('hidden', true);
        $('#authorizedSignature').prop('hidden', false);
        $('#clientSignature').prop('hidden', false);
        $('#clientSignatureImage').prop('hidden', true);
        OldAgeIdProof = '';
        GetSerialNo();
        $('#adminssionDate').val(formatDate(new Date()));
        $('#periodTo').val(formatDate(new Date()));
        $('#periodFrom').val(formatDate(new Date()));
        showPopup('oldAgePopup');
        // $('#oldAgePopup').modal('toggle');
    }

    function GetSerialNo() {
        $.get({
            url: '@Url.Action("GetLatestID", "OldAge")',
            success: function (response) {
                $('#serialNo').val(response);
            },
            error: function (response) {
            }
        });
    }

    function AddOldAge() {
        if (CheckEmptyFields()) {
            var data = {};
            data.Id = $('#oldAgePatientId').val();
            data.PatientName = $('#patientName').val();
            data.Address = $('#address').val();
            data.Age = $('#patientAge').val();
            data.Condition = $('#patientCondition').val();
            data.CustomerName = $('#customerName').val();
            data.MobileNo = $('#mobileNo').val();
            data.TypesofServices = $('#typesOfService').val();
            data.IdProof = OldAgeIdProof;
            data.PaymentStatus = "Pending";
            data.PeriodFrom = $('#periodFrom').val();
            data.PeriodTo = $('#periodTo').val();
            data.AdmissionDate = $('#adminssionDate').val();
            data.MonthlyPayment = $('#monthlyPayment').val();
            data.RegistrationCharges = $('#registrationCharges').val();
            data.authorizedSign = $('#authorizedSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");
            data.clientSign = $('#clientSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");
            data.SUser = localStorage.getItem('username');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddorEditOldAge", "OldAge")',
                data: data,
                success: function (response) {
                    if (response) {
                        let msg = $('#oldAgePatientId').val() == '' ? "Data Added Successfully" : "Data Updated Successfully";
                        // $('#oldAgePopup').modal('toggle');
                        HidePopup('oldAgePopup');
                        msgPopup("success", msg);
                        GetData();
                    } else {
                        msgPopup("error", "Error! Please Try Again");
                    }
                },
                error: function (response) {

                    console.error(response);
                }
            });
        }
    }

    function GetData() {
        var table = $('#tblOldAge').DataTable();
        let startDate = $('#startDate').val();
        let endDate = $('#endDate').val();
        let user = $('#ddlUsers').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetData", "OldAge")',
            data: { startDate: startDate, endDate: endDate, username: user },
            success: function (response) {
                table.clear().draw();
                response.data.forEach(function (item) {
                    table.row.add([
                        item.patientName,
                        item.admissionDate ? item.admissionDate.split("T")[0] : null,
                        item.periodFrom ? item.periodFrom.split("T")[0] : null,
                        item.periodTo ? item.periodTo.split("T")[0] : null,
                        '<div class="contentCenter"><i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i></div>'
                    ]).draw();
                });
            },
            error: function (response) {

                console.error(response);
            }
        });
    }


    function BindData(data) {
        $('#oldAgePatientId').val(data.id);
        $('#patientName').val(data.patientName);
        $('#address').val(data.address);
        $('#patientAge').val(data.age);
        $('#patientCondition').val(data.condition);
        $('#customerName').val(data.customerName);
        $('#mobileNo').val(data.mobileNo);
        $('#typesOfService').val(data.typesofServices);
        OldAgeIdProof = data.idProof;
        //  data.PaymentStatus = "Pending";
        $('#periodFrom').val(formatDate(new Date(data.periodFrom)));
        $('#periodTo').val(formatDate(new Date(data.periodTo)));
        $('#adminssionDate').val(formatDate(new Date(data.admissionDate)));
        $('#monthlyPayment').val(data.monthlyPayment);
        $('#registrationCharges').val(data.registrationCharges);
        $('#clientSignatureImage').prop('hidden', false);
        $('#clientSignature').prop('hidden', true);
        $('#clientSignatureImage').attr('src', 'data:image/png;base64,' + data.clientSign);
        $('#authorizedSignatureImage').attr('src', 'data:image/png;base64,' + data.authorizedSign);
        $('#authorizedSignatureImage').prop('hidden', false);
        $('#authorizedSignature').prop('hidden', true);
        showPopup('oldAgePopup');
    }

    function confirmDelete(id) {
        $.alert({
            title: 'Alert',
            content: 'Are you sure want to delete ?',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                        deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        return;
                    },
                },
            },
        });
    }
    function deleteData(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteData", "OldAge")',
            data: { id: id },
            success: function (response) {
                if (response) {
                    msgPopup("success", "Data Deleted Successfully");
                    GetData();
                } else {
                    msgPopup("error", "Error! Please Try Again");
                }
            },
            error: function (response) {

                console.error(response);
            }
        });
    }

</script>