@{

    ViewData["Title"] = "Nursing Home";
}
<div class="col-md-12">
    @Html.Partial("~/Partialviews/_SearchBar.cshtml")
</div>
<!-- Button to trigger modal -->
<div class="col-md-2">
    <div class="container-fluid mt-2 mb-2">
        <button type="button" class="customBtn" onclick="verifyFace()">
            <i class="fa fa-add me-1"></i> Add
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="homeNursingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient Information Form</h5>
                <button type="button" class="close" onclick="HidePopup('homeNursingModal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body registrationFormContent">
                <form>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="row mt-2">
                                        <div class="col-3">
                                            <img src="~/images/plus icon.png" style="height:70px;width:90px" />
                                        </div>
                                        <div class="col-6 contentCenter">
                                            <label style="font-family:fantasy;font-size:50px;color:red;letter-spacing:5px">VEDHANTH</label>

                                        </div>
                                        <div class="col-3 contentEnd">
                                            <img src="~/images/stethoscope.png" style="height:70px;width:90px" />
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-8 contentCenter" style="margin-top:-20px">
                                            <label style="font-size:26px;color:red;margin-top:-5px;font-weight:500">Home Nursing Helpline</label>
                                        </div>
                                    </div>
                                    <div id="customAddress">
                                        <div class="contentCenter">
                                            <span id="customAdreesLine1" style="font-weight:500;font-size:smaller;">No.69,New No. 6/1, 1st Cross, 3rd Main Road, Mathikere, Bengaluru-560 054.</span>
                                        </div>
                                        <div class="contentCenter">
                                            <span id="customAdreesLine2" style="font-weight:500;font-size:smaller;">Mob : <span id="cutomMobileNumbers"></span> Email : <span id="customEmailAddress"></span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">
                                    <div class="row mt-2">
                                        <label for="" class="col-7 contentEnd" style="color:red;font-size:large;font-weight:500">Registration Form:</label>
                                        <div class="row col-5 ">

                                            <span class="col-5">No :</span>
                                            <input class="col-7" id="serialNo" type="number" style="height:25px" min="0" />
                                        </div>
                                        <div class="col-7"></div>
                                        <div class="row col-5 mt-2 contentEnd">
                                            <span class="col-5">Date :</span>
                                            <input class="col-7 requiredfield" type="date" id="adminssionDate" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" id="homeNursingPatientId" />
                                <td><label for="patientName">Patient Name:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields requiredfield" id="patientName"></td>
                            </tr>
                            <tr>
                                <td><label for="address">Address:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="address"></td>
                            </tr>
                            <tr>
                                <td><label for="patientAge">Patient Age:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="patientAge"></td>
                            </tr>
                            <tr>
                                <td><label for="patientCondition">Patient Condition:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="patientCondition"></td>
                            </tr>
                            <tr>
                                <td><label for="customerName">Customer Name:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="customerName"></td>
                            </tr>
                            <tr>
                                <td><label for="mobileNo">Mobile No:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="mobileNo"></td>
                            </tr>
                            <tr>
                                <td><label for="idProof">ID Proof:</label></td>
                                <td>
                                    <div class="row col-12">
                                        <div class="col-10">
                                            <input type="file" class="form-control" id="idProof" onchange="">
                                        </div>
                                        <div class="col-2 contentEnd">
                                            <i id="downloadIdProof" class="fa-solid fa-download fa-lg  mt-3 "></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="typesOfService">Types of Service:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="typesOfService"></td>
                            </tr>
                            <tr>
                                <td><label for="registrationCharges">Registration Charges:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="registrationCharges"></td>
                            </tr>
                            <tr>
                                <td><label for="monthlyPayment">Monthly Payment Rs:</label></td>
                                <td><input type="text" class="form-control NursingHomeIpfields" id="monthlyPayment"></td>
                            </tr>
                            <tr>
                                <td><label for="periodFrom">Period From:</label></td>
                                <td><input type="date" class="form-control NursingHomeIpfields" id="periodFrom"></td>
                            </tr>
                            <tr>
                                <td><label for="periodTo">To:</label></td>
                                <td><input type="date" class="form-control NursingHomeIpfields" id="periodTo"></td>
                            </tr>
                            <tr id="helperRow">
                                <td><label>Select Helper:</label></td>
                                <td><select class="form-select NursingHomeIpfields" id="helperDropdown"></select></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div>
                                        <b>VEDHANTH Home Nursing Services Terms and Conditions:</b>
                                        <div style="display: flex; flex-direction: column;">
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">1.</div>
                                                <div style="flex: 1; text-align: left;">VEDHANTH Home Nursing Services requires a one-time registration with a non-refundable deposit. If there are any unforeseen events or uncertainties in the patient’s condition post-registration, the deposit will not be refunded.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">2.</div>
                                                <div style="flex: 1; text-align: left;">VEDHANTH Home Nursing Services reserves the right to take appropriate action if there is any violation of the terms and conditions.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">3.</div>
                                                <div style="flex: 1; text-align: left;">If our staff visits your home and you cancel the service and contact the staff directly for further assistance without informing VEDHANTH Home Nursing Services, we hold the right to take necessary action.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">4.</div>
                                                <div style="flex: 1; text-align: left;">In case the home nurse needs to be absent due to a personal emergency, VEDHANTH Home Nursing Services will provide a replacement who has received sufficient training to handle the patient.</div>
                                            </div>
                                           </br>
                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">5.</div>
                                                <div style="flex: 1; text-align: left;">If the nursing staff experiences any uncomfortable situation or we receive complaints, VEDHANTH Home Nursing Services will cease providing services to that home.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">6.</div>
                                                <div style="flex: 1; text-align: left;">While on duty, the nurse will only provide nursing services. They are not expected to perform additional household work.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">7.</div>
                                                <div style="flex: 1; text-align: left;">Any extra work performed by the nursing staff must be agreed upon between the family and the nurse. VEDHANTH Home Nursing Services will not be responsible for this arrangement.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">8.</div>
                                                <div style="flex: 1; text-align: left;">Although VEDHANTH Home Nursing Services conducts background checks and collects personal identification of all nursing staff, we request the patient's family to ensure the safety and security of all valuables at their residence. VEDHANTH Home Nursing Services will not be responsible for the loss of any belongings.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">9.</div>
                                                <div style="flex: 1; text-align: left;">The patient's family should refrain from sharing sensitive information such as financial details, ATM passwords, or online banking credentials with the nursing staff. VEDHANTH Home Nursing Services will not be responsible for any misuse of such information.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">10.</div>
                                                <div style="flex: 1; text-align: left;">If the family decides to discontinue our nursing services but continues to take service from the same staff without our consent, VEDHANTH Home Nursing Services will not be liable for any arising situations.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">11.</div>
                                                <div style="flex: 1; text-align: left;">VEDHANTH Home Nursing Services provides nursing staff and is only responsible for the performance of the staff in relation to the patient's care and well-being.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">12.</div>
                                                <div style="flex: 1; text-align: left;">In the unfortunate event of a patient’s death within 15 days of service, the advance payment will be non-refundable.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">13.</div>
                                                <div style="flex: 1; text-align: left;">Nurses, Care Takers, and Attenders should be treated respectfully as part of the family. The responsibility of their accommodation and meals lies with the client or the patient’s family.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">14.</div>
                                                <div style="flex: 1; text-align: left;">Nurses, Care Takers, and Attenders will focus solely on patient care. They will not engage in other household tasks.</div>
                                            </div>

                                            <div style="display: flex; margin-top: 10px;">
                                                <div style="width: 50px; font-weight: bold; text-align: center;">15.</div>
                                                <div style="flex: 1; text-align: left;">If the nurse, care taker, or attender takes leave, a suitable replacement will be provided.</div>
                                            </div>
                                        </div>

                                        <b>Declaration</b></br>
                                        <div style="display: flex; margin-top: 5px;margin-bottom:20px">
                                            <div style="width: 20px; font-weight: bold; text-align: center;"> </div>
                                            <div style="flex: 1; text-align: left;">
                                                I hereby read, I heard all the above terms and conditions and agree to sign up with VEDHANTH Home Care for my service requirement.
                                            </div>
                                        </div>
                                        <div class="signature-section row ml-2">
                                            <div class="signature-box col-4">
                                                <canvas id="clientSignature" class="signatureContainer"></canvas>
                                                <img id="clientSignatureImage" class="signatureContainerImage" />
                                                <div class="row">
                                                    <div class="col-10">
                                                        <p>Signature of the Client &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('clientSignature')"></i></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4"></div>
                                            <div class="signature-box col-4">
                                                <canvas id="authorizedSignature" class="signatureContainer"></canvas>
                                                <img id="authorizedSignatureImage" class="signatureContainerImage" hidden />
                                                <div class="row">
                                                    <p>Authorised Signatory &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrows-rotate refreshSign" onclick="clearSignature('authorizedSignature')"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="HidePopup('homeNursingModal')">Close</button>
                <button type="button" class="btn btn-success" onclick="OpenQRPopup()">Pay</button>
                <button type="button" class="btn btn-success" onclick="AddHomeNursing()">Save</button>
                <button id="downloadRegistrationForm" class="btn btn-info">Download PDF</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 container-fluid">
    <table id="tblNursingHome" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Helper Name</th>
                <th>Admission Date</th>
                <th>Payment Status</th>

                <th>Period From</th>
                <th>Period To</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @Html.Partial("~/Partialviews/_VerifyFace.cshtml")
</div>

<script>
    var HomeNursingIdproof = "";
    $(document).ready(function () {
        GetData();
        GetHelperData();

    });

    $('#tblNursingHome').on('click', '.btn-edit', function () {
        var fullData = JSON.parse($(this).attr('data-full-data'));
        BindData(fullData);
    });
    $('#tblNursingHome').on('click', '.btn-delete', function () {
        var ID = JSON.parse($(this).attr('dataId'));
        confirmDelete(ID);
    });
    $('#idProof').on('change', function (event) {
        ConvertToBase64(event.target).then(base64 => {
            HomeNursingIdproof = base64;
        });
    });
    $('#search').on('click', function () {
            GetData();
        });
    document.getElementById('downloadIdProof').addEventListener('click', function () {
        if (HomeNursingIdproof) {
            const mimeType = HomeNursingIdproof.split("~")[0];
            const fileName = $('#patientName').val() + "_IdProof.";

            downloadFile(HomeNursingIdproof.split("~")[1], mimeType, fileName);
        } else {
            alert('No file available to download');
        }
    });
    function downloadFile(base64String, fileType, fileName) {
        const link = document.createElement('a');
        link.href = `data:${fileType};base64,${base64String}`;
        link.download = fileName + fileType.split("/")[1];
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    document.getElementById('downloadRegistrationForm').addEventListener('click', function () {
        $('#helperRow').attr('hidden', 'hidden');
        const element = document.querySelector('.registrationFormContent');
        element.style.transform = 'scale(1)';
        element.style.transformOrigin = 'top center';
        const options = {
            margin: 0,
            filename: $('#patientName').val() + '.pdf',
            image: { type: 'jpeg', quality: 3 },
            html2canvas: { scale: 3 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        html2pdf().from(element).set(options).save().finally(() => {
            $('#helperRow').prop('hidden', false);
            element.style.transform = '';
            element.style.transformOrigin = '';
        });
    });
    function GetHelperData() {
        let UserName = 'admin';
        if (localStorage.getItem('userRole') != 'admin') {
            UserName = localStorage.getItem('username');
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetData", "Helpers")',
           data:{ UserName: UserName },
            // data: data,
            success: function (response) {
                let option = "";
                $('#helperDropdown').empty();

                $.each(response.data, function (index, item) {
                    option += `<option value="${item.id}">${item.name}</option>`;
                });

                $('#helperDropdown').append(option);

            },
            error: function (response) {

            }
        });
    }

    function Clearfields() {
        $('.NursingHomeIpfields').val('');
        clearSignature('authorizedSignature');
        clearSignature('clientSignature');
        $('#authorizedSignatureImage').prop('hidden', true);
        $('#authorizedSignature').prop('hidden', false);
        $('#clientSignature').prop('hidden', false);
        $('#clientSignatureImage').prop('hidden', true);
        GetSerialNo();
        showPopup('homeNursingModal');
    }
    function GetSerialNo() {
        $.get({
            url: '@Url.Action("GetLatestID", "NursingHome")',
            success: function (response) {
                $('#serialNo').val(response);
            },
            error: function (response) {
            }
        });
    }
    function AddHomeNursing() {
        if (CheckEmptyFields()) {
            var data = {};
            data.Id = $('#homeNursingPatientId').val();
            data.PatientName = $('#patientName').val();
            data.Address = $('#address').val();
            data.Age = $('#patientAge').val();
            data.Condition = $('#patientCondition').val();
            data.CustomerName = $('#customerName').val();
            data.MobileNo = $('#mobileNo').val();
            data.TypesofServices = $('#typesOfService').val();
            data.IdProof = HomeNursingIdproof;
            data.PaymentStatus = "Pending";
            data.PeriodFrom = $('#periodFrom').val();
            data.PeriodTo = $('#periodTo').val();
            data.AdmissionDate = $('#adminssionDate').val();
            data.MonthlyPayment = $('#monthlyPayment').val();
            data.RegistrationCharges = $('#registrationCharges').val();
            data.fkHelperId = $('#helperDropdown').val();
            data.authorizedSign = $('#authorizedSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");
            data.clientSign = $('#clientSignature')[0].toDataURL("image/png").replace(/^data:image\/(png|jpg);base64,/, "");
            data.SUser = localStorage.getItem('username');
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddorEditHomeNursing", "NursingHome")',
                data: data,
                success: function (response) {
                    if (response) {
                        let msg = $('#homeNursingPatientId').val() == '' ? "Data Added Successfully" : "Data Updated Successfully";
                        HidePopup('homeNursingModal');
                        msgPopup("success", msg);
                        GetData();
                    } else {
                        msgPopup("error", "Error! Please Try Again");
                    }
                },
                error: function (response) {

                }
            });
        }
    }

    function GetData() {
        var table = $('#tblNursingHome').DataTable();
        let startDate = $('#startDate').val();
        let endDate = $('#endDate').val();
        let user = $('#ddlUsers').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetData", "NursingHome")',
            data: { startDate: startDate, endDate: endDate, username: user },
            success: function (response) {
                table.clear().draw();
                response.data.forEach(function (item) {
                    table.row.add([
                        item.patientName,
                        item.helperName,
                        item.admissionDate.split("T")[0],
                        item.paymentStatus,
                        item.periodFrom != null ? periodFrom.split("T")[0]:null,
                        item.periodTo != null ? periodTo.split("T")[0]:null,
                        '<div class="contentCenter"><i class="fa fa-edit me-4 ml-2 btn-edit" style="color:green" data-full-data=\'' + JSON.stringify(item).replace(/'/g, "&#39;") + '\'></i>' +
                        '<i class="fa fa-trash ml-2 btn-delete"  style="color:red" dataId=\'' + JSON.stringify(item.id).replace(/'/g, "&#39;") + '\'></i></div>'
                    ]).draw();
                });
            },
            error: function (response) {

                console.error(response);
            }
        });
    }

    function BindData(data) {
        $('#homeNursingPatientId').val(data.id);
        $('#patientName').val(data.patientName);
        $('#address').val(data.address);
        $('#patientAge').val(data.age);
        $('#patientCondition').val(data.condition);
        $('#customerName').val(data.customerName);
        $('#mobileNo').val(data.mobileNo);
        $('#typesOfService').val(data.typesofServices);
        HomeNursingIdproof = data.idProof;
        //  data.PaymentStatus = "Pending";
        $('#periodFrom').val(formatDate(new Date(data.periodFrom)));
        $('#periodTo').val(formatDate(new Date(data.periodTo)));
        $('#adminssionDate').val(formatDate(new Date(data.admissionDate)));
        $('#monthlyPayment').val(data.monthlyPayment);
        $('#registrationCharges').val(data.registrationCharges);
        $('#clientSignatureImage').prop('hidden', false);
        $('#clientSignature').prop('hidden', true);
        $('#clientSignatureImage').attr('src', 'data:image/png;base64,' + data.clientSign);
        $('#authorizedSignatureImage').attr('src', 'data:image/png;base64,' + data.authorizedSign);
        $('#authorizedSignatureImage').prop('hidden', false);
        $('#authorizedSignature').prop('hidden', true);
        showPopup('homeNursingModal');
    }

    function confirmDelete(id) {
        $.alert({
            title: 'Alert',
            content: 'Are you sure want to delete ?',
            typeAnimated: true,
            backgroundDismiss: false,
            backgroundDismissAnimation: 'glow',
            boxWidth: '30%',
            useBootstrap: false,
            buttons: {
                Yes: {
                    text: 'Yes',
                    btnClass: 'btn btn-success',
                    action: function () {
                        deleteData(id);
                    },
                },
                No: {
                    text: 'No',
                    btnClass: 'btn btn-warning',
                    action: function () {
                        return;
                    },
                },
            },
        });
    }
    function deleteData(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteData", "NursingHome")',
            data: { id: id },
            success: function (response) {

            },
            error: function (response) {

                console.error(response);
            }
        });
    }
</script>